main{
    width: $viewport;
    margin: 0 auto;
    text-align: center;

    section{
        margin-bottom: 60px;
    }

    .introduce{
        width: 100%;
    }

    .feature{
        width: 100%;
      
    }

    .how-work{
        width: 100%;
    }
}